.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  padding: clamp(70px, 15vw, 80px);
  gap: 36px;
}

.header {
  font-size: clamp(36px, 7vw, 56px);
  font-weight: 700;
  line-height: 130%;
  padding-bottom: 80px;
}
